# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next
/bundles

# misc
/.vscode
.DS_Store
# .env commented just for example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
